.loginbg {
	background-image: url(../img/534daddbc373c12_02.gif);
	width: 1280px;
	height: 600px;
	margin : 0px auto;
}

body {
	margin:0px;
	padding:0px;
}

.loginFormbg {
	background-image: url(../img/534daddbc373c_03.gif);
	width : 313px;
	height : 318px;
	margin-left : 780px;
	margin-top : 80px;
	float : left;
}