<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.smartErp.system.dao.ScriptConfigDao">  
 
 <select id="getScriptConfigPage" resultType="hashMap" parameterType="Page">
    	select t.*,tt.name as createName from script_config t 
    		left join user tt on t.creatorId = tt.id
    	<where>
	    	<choose>
				<when test="params.scriptNameLike!=null and params.scriptNameLike!='' ">
					and t.scriptName like CONCAT('%','${params.scriptName}','%')  
				</when>
				<when test="params.scriptName!=null and params.scriptName!=''">
					and t.scriptName = #{params.scriptName}
				</when> 		
	   		</choose>
	   		<choose>
				<when test="params.remarkLike!=null and params.remarkLike!='' ">
					and t.remark like CONCAT('%','${params.remark}','%')  
				</when>
				<when test="params.remark!=null and params.remark!=''">
					and t.remark = #{params.remark}
				</when>
	   		</choose>
	   		<if test="params.scriptType!=null and params.scriptType !=''">
	 			and t.scriptType = #{params.scriptType}
	   		</if>
	   		<if test="params.randomRange!=null and params.randomRange !=''">
	    		and t.randomRange = #{params.randomRange}
	   		</if>
	   		<if test="params.isOpened!=null and params.isOpened !=''">
	    		and t.isOpened = #{params.isOpened}
	   		</if>
	   		<if test="params.timeQuery == 'createTime' and params.timeFrom !=null and params.timeFrom!=''" >
	   			<![CDATA[ and t.createTime >= #{params.timeFrom} ]]>
	   		</if>
	   		
	   		<if test="params.timeQuery == 'createTime' and params.timeTo !=null and params.timeTo!=''" >
	   			<![CDATA[ and t.createTime <= #{params.timeTo} ]]>
	   		</if>
	   		
		    <if test="params.timeQuery == 'updateTime' and params.timeFrom !=null and params.timeFrom!=''" >
	   			<![CDATA[ and t.updateTime >= #{params.timeFrom} ]]>
	   		</if>
	   		
	   		<if test="params.timeQuery == 'updateTime' and params.timeTo !=null and params.timeTo!=''" >
	   			<![CDATA[ and t.updateTime <= #{params.timeTo} ]]>
	   		</if>
   		</where>
   		order by t.id desc
    </select>
    
    <insert id="createScriptConfig" parameterType="ScriptConfig">
    	insert into script_config (
    		crontab,
    		scriptUrl,
    		scriptType,
    		randomRange,
    		isOpened,
    		creatorId,
    		scriptName,
    		remark,
    		createTime,
   			updateTime
    	) values (
    		#{crontab},
    		#{scriptUrl},
    		#{scriptType},
    		#{randomRange},
    		#{isOpened},
    		#{creatorId},
    		#{scriptName},
    		#{remark},
    		#{createTime},
   			#{updateTime}
    	)
    </insert>
    
    <update id="updateScriptConfig" parameterType="ScriptConfig">
    	update script_config set
    		crontab = #{crontab},
    		scriptUrl = #{scriptUrl},
    		scriptType = #{scriptType},
    		randomRange = #{randomRange},
    		isOpened = #{isOpened},
    		scriptName = #{scriptName},
    		remark = #{remark},
   			updateTime = #{updateTime}
   		where id = #{id}
    </update>
    
    <select id="getScriptConfigById" resultType="ScriptConfig">
    	select * from script_config where id = #{id}
    </select>
    
    <delete id="deleteScriptConfig" parameterType="int">
    	delete from script_config where id = #{id}
    </delete>
    
    <select id="getScriptConfigByOpenStatus" parameterType="int" resultType="ScriptConfig">
    	select * from script_config where isOpened = #{status}
    </select>
    
</mapper>