<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.smartErp.system.dao.UserDao">  
     <!-- 
    <insert id="save" parameterType="User">  
        insert into user(username,user_age) values(#{userName},#{age})  
    </insert>  
      
    <update id="update" parameterType="User">  
        update user set username=#{userName},user_age=#{age} where user_id=#{id}  
    </update>  
      
    <delete id="delete" parameterType="int">  
        delete from user where user_id=#{id}  
    </delete>  
      
    <select id="findById" parameterType="int" resultType="User">  
        select user_id id,username userName,user_age age from user where user_id=#{id}  
    </select>  
     -->   
    <select id="findAll" resultType="User">  
        select * from user  
    </select>  
    
    <select id="getUserByUserName" resultType="User" parameterType="string">
    	select * from user where username = #{username}
    </select>
    
    <select id="getUserPage" resultType="hashMap" parameterType="Page">
    	select * from user
    	<where>
    		<if test="params.usernameEq!=null and params.usernameEq !=''">
    			username = #{params.usernameEq}
    		</if>
    		<if test="params.idTo!=null and params.idTo!=''">
				<![CDATA[ and id <= #{params.idTo} ]]>
    		</if>
    		<if test="params.idFrom!=null and params.idFrom!=''">
				<![CDATA[ and id >= #{params.idFrom} ]]>
    		</if>
    	</where>
    </select>
      
</mapper>  