<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.smartErp.cdiscount.dao.CdiscountDefaultsValueDao">  

	<select id="getCdiscountDefaultsValueByPage" parameterType="Page" resultType="hashMap">
		select t.* from cdiscount_defaults_value t 
		<where>
    		<choose>
				<when test="params.templateNameLike!=null and params.templateNameLike!='' ">
					and t.templateName like CONCAT('%','${params.templateName}','%')  
				</when>
				<when test="params.templateName!=null and params.templateName!=''">
					and t.templateName = #{params.templateName}
				</when> 		
    		</choose>
    		<if test="params.isDefaults!=null and params.isDefaults !=''">
    			and t.isDefaults = #{params.isDefaults}
    		</if>
			<if test="params.userId!=null and params.userId !=''">
    			and t.creator = #{params.userId}
    		</if>
		</where>
		order by t.id desc
	</select>
   
    <insert id="insertCdiscountDefaultsValue" parameterType="CdiscountDefaultsValue" useGeneratedKeys="true" keyProperty="id">
    	insert into cdiscount_defaults_value
    	(
    		id,
    		templateName,
    		brandName,
    		quantity,
    		dea,
    		vat,
    		ecoPart,
    		stockingTime,
    		isDefaults,
    		creator
    	) values(
	    	#{id},
    		#{templateName},
    		#{brandName},
    		#{quantity},
    		#{dea},
    		#{vat},
    		#{ecoPart},
    		#{stockingTime},
    		#{isDefaults},
    		#{creator}
    	)
    </insert>
    
    <select id="getDefaultsTemplate" resultType="CdiscountDefaultsValue">
    	select * from cdiscount_defaults_value where creator = #{userId} and isDefaults = #{isDefaults}
    </select>
    
    <delete id="deleteById" parameterType="int">
    	delete from cdiscount_defaults_value where id = #{id}
    </delete>
    
    <select id="getCdiscountDefaultsValueById" parameterType="int" resultType="CdiscountDefaultsValue">
    	select * from cdiscount_defaults_value where id = #{id}
    </select>
    
    <update id="udpateCdiscountDefaultsValue" parameterType="CdiscountDefaultsValue">
    	update cdiscount_defaults_value set
    		templateName = #{templateName},
    		brandName = #{brandName},
    		quantity = #{quantity},
    		dea = #{dea},
    		vat = #{vat},
    		ecoPart = #{ecoPart},
    		stockingTime = #{stockingTime}
    	where id = #{id}
    </update>
    
    <update id="updateIsDefaultsTemplate">
    	update cdiscount_defaults_value set 
    		isDefaults = #{isDefaults}
    	where creator = #{userId}
    </update>
    
    <update id="setAsDefaultsTemplate">
    	update cdiscount_defaults_value set
    		isDefaults = #{isDefaults}
    	where id = #{id}
    </update>
    
    <select id="getCdiscountDefaultsValueByCreator" parameterType="int" resultType="CdiscountDefaultsValue">
    	select * from cdiscount_defaults_value where creator = #{userId}
    </select>
      
      
    <select id="getDefaultsTemplateValue" resultType="CdiscountDefaultsValue">
    	select * from cdiscount_defaults_value where creator = #{userId} and isDefaults = #{isDefaults}
    </select>
</mapper>  