<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.smartErp.cdiscount.dao.CdiscountApiConfigDao">  
    <select id="findAll" resultType="CdiscountApiConfig">  
        select * from cdiscount_api_config  
    </select> 
    
    <select id="getCdiscountApiConfigPage" resultType="CdiscountApiConfig" parameterType="Page">
    	select * from cdiscount_api_config
    	<where>
    		<if test="params.id!=null and params.id !=''">
    			id = #{params.id}
    		</if>
    		<choose>
				<when test="params.shopNameLike!=null and params.shopNameLike!='' ">
					and shopName like CONCAT('%','${params.shopName}','%')  
				</when>
				<when test="params.shopName!=null and params.shopName!=''">
					and shopName = #{params.shopName}
				</when> 		
    		</choose>
    		<choose>
				<when test="params.apiAccountLike!=null and params.apiAccountLike!='' ">
					and apiAccount like CONCAT('%','${params.apiAccount}','%')  
				</when>
				<when test="params.apiAccount!=null and params.apiAccount!=''">
					and apiAccount = #{params.apiAccount}
				</when> 		
    		</choose>
    		<if test="params.closeStatus!=null and params.closeStatus !=''">
				and closeStatus = #{params.closeStatus}  		
    		</if>
    		<if test="params.createDateFrom !=null and params.createDateFrom!=''">
    			<![CDATA[ and createDate >= #{params.createDateFrom} ]]>
    		</if>
    		<if test="params.createDateTo !=null and params.createDateTo !='' ">
    			<![CDATA[ and createDate <= #{params.createDateTo} ]]>
    		</if>
    		<if test="params.lastUpdateTimeFrom !=null and params.lastUpdateTimeFrom!=''">
    			<![CDATA[ and lastUpdateTime >= #{params.lastUpdateTimeFrom} ]]>
    		</if>
    		<if test="params.lastUpdateTimeTo !=null and params.lastUpdateTimeTo !='' ">
    			<![CDATA[ and lastUpdateTime <= #{params.lastUpdateTimeTo} ]]>
    		</if>
    	</where>
    	 order by id desc
    </select>
    
    <select id="getById" resultType="CdiscountApiConfig" parameterType="int">
    	select * from cdiscount_api_config where id = #{id}
    </select>
    
    <insert id="insert" parameterType="CdiscountApiConfig">
    	insert into cdiscount_api_config
    	(
    		shopName,
    		email,
    		apiAccount,
    		apiPassword,
    		receivablesEmail,
    		closeStatus,
    		creator,
    		systemLog,
    		lastUpdateTime,
    		createDate
    	) values(
	    	#{shopName},
	    	#{email},
	    	#{apiAccount},
	    	#{apiPassword},
	    	#{receivablesEmail},
	    	#{closeStatus},
	    	#{creator},
	    	#{systemLog},
	    	#{lastUpdateTime},
	    	#{createDate}
    	)
    </insert>
    
    <update id="update" parameterType="CdiscountApiConfig">
    	update cdiscount_api_config set 
    		shopName = #{shopName},
    		apiAccount = #{apiAccount},
    		email = #{email},
    		apiPassword = #{apiPassword},
    		closeStatus = #{closeStatus},
    		receivablesEmail = #{receivablesEmail},
    		systemLog = #{systemLog},
    		lastUpdateTime = #{lastUpdateTime}
    	where id = #{id}
    </update>
    
    <delete id="removeAll">
    	delete from cdiscount_api_config
    </delete>
      
</mapper>  