<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.smartErp.cdiscount.dao.CdiscountApiConfigDao">  
    <select id="findAll" resultType="CdiscountApiConfig">  
        select * from cdiscount_api_config  
    </select> 
    
    <select id="getCdiscountApiConfigPage" resultType="CdiscountApiConfig" parameterType="Page">
    	select * from cdiscount_api_config
    </select>
    
    <select id="getById" resultType="CdiscountApiConfig" parameterType="int">
    	select * from cdiscount_api_config where id = #{id}
    </select>
    
    <insert id="insert" parameterType="CdiscountApiConfig">
    	insert into cdiscount_api_config
    	(
    		shopName,
    		email,
    		apiAccount,
    		apiPassword,
    		receivablesEmail,
    		creator,
    		systemLog,
    		lastUpdateTime
    	) values(
	    	#{shopName},
	    	#{email},
	    	#{apiAccount},
	    	#{apiPassword},
	    	#{receivablesEmail},
	    	#{creator},
	    	#{systemLog},
	    	#{lastUpdateTime}
    	)
    </insert>
    
    <update id="update" parameterType="CdiscountApiConfig">
    	update cdiscount_api_config set 
    		shopName = #{shopName},
    		apiAccount = #{apiAccount},
    		email = #{email},
    		apiPassword = #{apiPassword},
    		receivablesEmail = #{receivablesEmail},
    		systemLog = #{systemLog},
    		lastUpdateTime = #{lastUpdateTime}
    	where id = #{id}
    </update>
    
    <delete id="removeAll">
    	delete from cdiscount_api_config
    </delete>
      
</mapper>  