<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.smartErp.cdiscount.dao.CdiscountCategoryDao">  
   
    
    <insert id="insert" parameterType="CdiscountCategory" useGeneratedKeys="true" keyProperty="id">
    	insert into cdiscount_category
    	(
    		categoryCode,
    		name,
    		parentId,
    		categoryLevel,
    		isParent,
    		updateTime
    	) values(
	    	#{categoryCode},
	    	#{name},
	    	#{parentId},
	    	#{categoryLevel},
	    	#{isParent},
	    	#{updateTime}
    	)
    </insert>
    
    <delete id="removeAll">
    	delete from cdiscount_category
    </delete>
    
    <select id="getFirstCategory" parameterType="int" resultType="CdiscountCategory">
    	select * from cdiscount_category where categoryLevel = 1 order by name
    </select>
    
    <select id="getFirstCategoryByApiId" parameterType="int" resultType="CdiscountCategory">
    	select * from cdiscount_category where apiId = #{apiId} and categoryLevel = 1 order by name
    </select>
    
    <delete id="deleteByApiId" parameterType="int">
    	delete from cdiscount_category where apiId = #{apiId}
    </delete>
    
    <select id="getCdiscountCategoryByParentId" parameterType="int" resultType="CdiscountCategory">
    	select * from cdiscount_category where parentId = #{parentId} order by name
    </select>
    
    <select id="getCdiscountCategoryByCode" parameterType="string" resultType="CdiscountCategory">
    	select * from cdiscount_category where categoryCode = #{categoryCode}
    </select>
    
    <select id="getCdiscountCategoryById" parameterType="int" resultType="CdiscountCategory">
    	select * from cdiscount_category where id = #{id}
    </select>
      
</mapper>  