<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>

    <typeAliases>  
        <typeAlias alias="User" type="com.smartErp.system.model.User" />
        <typeAlias alias="ScriptConfig" type="com.smartErp.system.model.ScriptConfig" />
        <typeAlias alias="Page" type="com.smartErp.util.frame.Page" />
        
        <typeAlias alias="CdiscountApiConfig" type="com.smartErp.cdiscount.model.CdiscountApiConfig"/>
        <typeAlias alias="CdiscountCategory" type="com.smartErp.cdiscount.model.CdiscountCategory"/>
    	<typeAlias alias="CdiscountPublish" type="com.smartErp.cdiscount.model.CdiscountPublish"/>
    	<typeAlias alias="DeliveryModeInfor" type="com.smartErp.cdiscount.model.DeliveryModeInfor"/>
    	<typeAlias alias="PublishDeliveryMode" type="com.smartErp.cdiscount.model.PublishDeliveryMode"/>
    	<typeAlias alias="DefaultsDeliveryMode" type="com.smartErp.cdiscount.model.DefaultsDeliveryMode"/>
    	<typeAlias alias="CdiscountPublishImage" type="com.smartErp.cdiscount.model.CdiscountPublishImage"/>
    	<typeAlias alias="CdiscountEan" type="com.smartErp.cdiscount.model.CdiscountEan"/>
    	<typeAlias alias="CdiscountDefaultsValue" type="com.smartErp.cdiscount.model.CdiscountDefaultsValue"/>
    	
        <typeAlias alias="DictionaryType" type="com.smartErp.system.model.DictionaryType"/>
        
    	<typeAlias alias="Product" type="com.smartErp.product.model.Product"/>
    </typeAliases> 
    
    <plugins><plugin interceptor="com.smartErp.util.frame.PageInterceptor"/></plugins> 
    <mappers>  
        <mapper resource="com/smartErp/system/mapper/UserMapper.xml" />  
        <mapper resource="com/smartErp/system/mapper/ScriptConfigMapper.xml" /> 
        <mapper resource="com/smartErp/system/mapper/DictionaryTypeMapper.xml" />

        <mapper resource="com/smartErp/cdiscount/mapper/CdiscountApiConfigMapper.xml" />  
        <mapper resource="com/smartErp/cdiscount/mapper/CdiscountCategoryMapper.xml"/>
        <mapper resource="com/smartErp/cdiscount/mapper/CdiscountPublishMapper.xml"/>
        <mapper resource="com/smartErp/cdiscount/mapper/DeliveryModeInforMapper.xml"/>
        <mapper resource="com/smartErp/cdiscount/mapper/PublishDeliveryModeMapper.xml"/>
        <mapper resource="com/smartErp/cdiscount/mapper/DefaultsDeliveryModeMapper.xml"/>
        <mapper resource="com/smartErp/cdiscount/mapper/CdiscountPublishImageMapper.xml"/>
        <mapper resource="com/smartErp/cdiscount/mapper/CdiscountEanMapper.xml"/>
        <mapper resource="com/smartErp/cdiscount/mapper/CdiscountDefaultsValueMapper.xml"/>
        
        <mapper resource="com/smartErp/product/mapper/ProductMapper.xml"></mapper>
    </mappers>  
</configuration>    